<%- include('partials/header.ejs'); -%>
<div class="template">
    <!-- Az oldal háttere -->
</div>
<div class="quiz">
    <div id="quiz-card">
        <form method="post" action="/next" >
            <div class="question">
                <p id="<%= question.id %>"><%= question.text %></p>
            </div>
            <div class="answer">
                <% answers.forEach((a) => { %>
                    <label class="custom-control-label" for="answer-<%= a.id %>">
                        <input 
                            type="radio" 
                            class="custom-control-input" 
                            id="<%= a.id %>" 
                            name="answer" 
                            value="<%= a.id %>"
                        >
                        <%= a.text %>
                    </label>
                <% }) %>  
            </div>
            <p id="score">Eddig megszerzett pontok: <%= totalScore%></p>
            <button type="submit" id="next-btn">Következő</button>
        </form>
    </div>
</div>
<%- include('partials/footer.ejs'); -%>